<div class="container">
  <div class="jumbotron">
    <h1 class="mb-5">
      <%= translate('pages.home.welcome') %>
    </h1>
    <div class="mb-2">
      <% if user_signed_in? %>
        <%= link_to translate('pages.home.go_to_app'),
                    app_path,
                    class: 'btn btn-primary' %>
      <% else %>
        <%= link_to translate('pages.home.sign_in'),
                    sign_in_path,
                    class: 'btn btn-primary' %>
      <% end %>
      <%= link_to translate('pages.home.source_code'),
                  APP_CONFIG['source_code_url'],
                  class: 'btn btn-outline-success' %>
    </div>
    <% unless user_signed_in? %>
      <%= link_to translate('pages.home.sign_up'), sign_up_path %>
    <% end %>
  </div>
</div>
