<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Prospéro</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=
      react_component(
        "Navbar",
        locale: I18n.locale,
        currentUserId: current_user && current_user.id
      )
    %>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
